.profiles_container {
  max-width: 1000px;
  margin: 0 auto;
}
.bold {
  font-weight: bold;
}
.create_block_create_new {
  display: flex;
  flex-direction: row;
}
.create_profile_tab_content_section_wrapper {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.create_block_description {
  color: #6c757d;
  font-size: 0.928571rem;
}

.create_block_content {
  display: flex;
  flex-direction: column;
}

.ant-layout, .ant-layout * {
  box-sizing: border-box;
}
.profile_card_container {

  display: flex;
  padding: 20px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  box-shadow: none;
  border: 1px solid #eaecee;
  color: #575757;
  font-weight: normal;
  -webkit-transition: all .12s ease-out;
  transition: all .12s ease-out;
  margin: 5px;
  cursor: pointer;

}

.profile_card_container:hover {
  box-shadow: 0 0 3px #dee2e5;
  opacity: 1;
}

.create_profile_header {
  padding-top: 20px;
}
.create_profile_tab1_container {
  height: 250px;
}
.create_profile_tab_description {
  text-align: center;
  padding: 10px;
}
.profile_card_section {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.ant-btn.create_profile_buttonOs {
  width: 130px;
  height: 90px;
  text-align: center;
  margin: 3px;
}
.ant-btn>.create_profile_os_icon_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.create_profile_tab_content_section_os {
  display: flex;
}

.create_profile_tab_content_section_protocol {

  display: flex;
  justify-content: space-around;
}
.create_profile_os_icon_description {

}

.view_profile_tab_connect {
  text-align: center;
  padding: 15px;
}

.view_profile_tab_connect_wrapper {
  padding: 20px;
}

.view_profile_tab_connect_icon_caption{
  background-color: #acacac;
  border-radius: 0.25rem;
  margin-top: 5px;
}
.view_profile_tab_connect_icons_block {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}


.view_profile_tab_connect_icon_wrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 105px;
  text-align: center;
  padding: 5px;
}
.view_profile_tab_connect_button_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.view_profile_tab_connect_button{
  margin: 5px;
}

.badge_blue {
  color: #fff;
  background-color: #42a5f5;

}

.view_profile_badge {
  display: inline-block;
  padding: 3px 5px;
  font-size: 85%;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.view_profile_tab_overview_container {
  text-align: center;
  margin-top: 10px;
}

