.ip-section {
  width: 250px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;

}

.section-item {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
}
.logo_VPN {
  color: #42a5f5;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;

}
.section_status {
  line-height: 11px;
padding: 3px;
  font-size: 0.857143rem !important;
  margin-left: 2px;
}
