.ip-section {
  width: 300px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  flex-wrap: nowrap;
  flex-direction: row;

}

.section-item {
  display: inline-block;
  vertical-align: middle;
}

.section-item--status {
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.logo_VPN {
  color: #42a5f5;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;

}

.section_status {
  font-size: 12px;
  line-height: 1.8;
  padding: 3px;
  margin-left: 2px;
  cursor: pointer;
}

.section_status .Unprotected {
  color: #ef5350;
  font-weight: 600;
}

.section_status .Protected {
  color: #9ccc65;
  font-weight: 600;
}

.logo_time {
  font-size: 20px;
  font-weight: 700;
}
.logo_VPN {
  font-size: 20px;
  font-weight: 700;
}

.section-item--logo {
  margin-right: 25px;
  cursor: pointer;
}
.popover_caption_condition {
padding-top: 20px;
}
.popover_content_wrapper {
  width: 300px;
}
.popover_caption {
  padding-top: 4px;
}
